* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}

.background-display {
    background-color: rgb(207, 210, 250);
    height: 1000px;
}

header {
    display: flex;
    flex-direction: row;
    height: 100px;
    background-image: linear-gradient(rgb(25, 26, 71), rgb(9, 9, 17), rgb(7, 12, 56));
    border-bottom: 1px solid rgb(0, 0, 0);
    color: white;
    align-items: center;
    justify-content: center;
}

header h1 {
    position: absolute;
    left: 30px;
}

.links {
    background-image: linear-gradient(90deg,
     rgb(25, 25, 49),
     rgb(41, 49, 88),
     rgb(41, 42, 91),
     rgb(62, 65, 113), 
     rgb(6, 15, 71));
    height: 30px;
    display: flex;
    justify-content: center;
}

.links a {
    color: rgb(197, 201, 254);
    margin-right: 100px;
    font-size: 22px;
    position: relative;
    bottom: 0px;
    
}

.SignUpButton {
    font-size: 30px;
    position: absolute;
    top: 6%;
    right: 75px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.LoginButton {
    font-size: 30px;
    position: absolute;
    top: 6%;
    right: 275px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.who {
    height: 600px;
    border: rgb(47, 45, 45) 7px solid;
    color: red;
    font-size: 22px;
    position: relative;
    top: 40px;
    margin: 0 auto;
}

.who h2 { 
    position: relative;
    top: 350px;
    left: 30px;
    color: rgb(255, 0, 0);
}

.who h3 {
    position: relative;
    top: 360px;
    left: 30px;
    color: rgb(255, 0, 0);
}

.posters-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .posters {
    display: flex;
    width: moz-fit-content;
    height: 100%;
    transition: transform 0.3s ease;
  }
  
  .posters img {
    width: auto;
    height: 100%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .arrow-up, .arrow-down {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .arrow-down {
    transform: rotate(180deg);
  }