* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}

.background-display {
    background-image: linear-gradient(rgb(11, 17, 125), rgb(4, 14, 57), black);
    height: 1000px;
}

header {
    display: flex;
    flex-direction: row;
    height: 100px;
    background-image: linear-gradient(rgb(25, 26, 71), rgb(9, 9, 17), rgb(7, 12, 56));
    border-bottom: 1px solid rgb(0, 0, 0);
    color: white;
    align-items: center;
    justify-content: center;
}

header h1 {
    position: absolute;
    left: 30px;
}

.links {
    background-image: linear-gradient(90deg,
     rgb(25, 25, 49),
     rgb(41, 49, 88),
     rgb(41, 42, 91),
     rgb(62, 65, 113), 
     rgb(6, 15, 71));
    height: 30px;
    display: flex;
    justify-content: center;
}

.links a {
    color: rgb(197, 201, 254);
    margin-right: 100px;
    font-size: 22px;
    position: relative;
    bottom: 0px;
    
}

.SignUpButton {
    font-size: 30px;
    position: absolute;
    top: 6%;
    right: 75px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.LoginButton {
    font-size: 30px;
    position: absolute;
    top: 6%;
    right: 275px;
    transform: translate(0, -50%);
    cursor: pointer;
}

/* Background styles */

.who {
    height: 400px;
    border: rgb(47, 45, 45) 7px solid;
    color: red;
    font-size: 22px;
    position: relative;
    top: 40px;
    width: 90%;
    right: 0px;
    margin: 0 auto;
}

.who h2 { 
    position: relative;
    top: 45px;
    left: 30px;
    color: rgb(255, 0, 0);
}

.who h3 {
    position: relative;
    top: 45px;
    left: 30px;
    color: rgb(255, 0, 0);
}