/* Apply a CSS reset to ensure consistent rendering across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
}

/* Header styles */
header {
    display: flex;
    flex-direction: row;
    height: 100px;
    background-image: linear-gradient(rgb(25, 26, 71), rgb(9, 9, 17), rgb(7, 12, 56));
    border-bottom: 10px solid rgb(0, 0, 0);
    color: white;
    align-items: center;
    justify-content: center;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    margin-left: auto;
    font-size: 20px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Background styles */
.background-display {
    background-image: linear-gradient(rgb(11, 17, 125), rgb(4, 14, 57), black);
    height: 1000px;
}

/* Authentication page styles */
.authentication {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), black);
    height: 500px;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.authentication form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
    font-size: 20px;
}

.authentication form label, .authentication form input, .authentication form button {
    width: 250px; 
}

.authentication form input {
    height: 40px; 
}

.password {
    justify-content: center;
}


main {
   
}


footer {
    background-color: rgb(42, 39, 39);
    height: 70px;
}

h2 {
    position: absolute;
    top: 20%;
    left: 75px;
    transform: translate(0, -50%);
}