/* Apply a CSS reset to ensure consistent rendering across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

/* Header styles */
header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-image: linear-gradient(
    rgb(25, 26, 71),
    rgb(9, 9, 17),
    rgb(7, 12, 56)
  );
  border-bottom: 10px solid rgb(0, 0, 0);
  color: white;
  align-items: center;
  justify-content: center;
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  margin-left: auto;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.background-display {
  background-image: linear-gradient(rgb(11, 17, 125), rgb(4, 14, 57), black);
  height: 1000px;
}

.authentication {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), black);
  height: 500px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.authentication form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 20px;
}

.authentication form label,
.authentication form input,
.authentication form button {
  width: 250px;
}

.authentication form input {
  height: 40px;
}

.password {
  justify-content: center;
}

main {
}

/* footer styles */
footer {
  background-color: rgb(42, 39, 39);
  height: 70px;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.footer_bar {
  color: aliceblue;
  background-image: linear-gradient(
    rgb(25, 26, 71),
    rgb(9, 9, 17),
    rgb(79, 2, 73)
  );
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

h2 {
  position: absolute;
  top: 20%;
  left: 75px;
  transform: translate(0, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
  justify-content: center;
}

/* Header styles */
header {
  background-image: linear-gradient(
    rgb(79, 2, 73),
    rgb(9, 9, 17),
    rgb(25, 26, 71)
  );
  height: 100px;
  text-align: left;
  color: rgb(226, 228, 255);
  align-items: center;
  justify-content: center;
}

.header-box {
  display: flex;
  border-right: 10px;
  margin-right: 20px;
  padding-right: 20px;
}

/* Search bar styles */
nav {
  display: flex;
  margin: 10px;
  height: 100px;
}

/* Main part styles */
h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(224, 219, 219);
}

.card {
  background-color: #333;
  justify-content: "center";
}

.card img:hover {
  opacity: 0.5;
}

.placeholder-card {
  display: inline-block;
  width: 202px;
  height: 300px;
  border: 2px dashed #999;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
}

.placeholder-card::before {
  content: "+";
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overRide {
  padding-left: 30px;
  margin-left: 0;
  margin-right: 0;
  --bs-gutter-x: 0.2rem;
}

#infoContainer {
  display: block;
  justify-content: center;
}

/* Dynamic card classes */

.card-back {
  background-color: #fff;
  height: 500;
  width: 400;
}

.uploadCard {
  background-color: transparent;
}

.uploadCard-overlay {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: inherit;
  height: 100px;
  background-image: linear-gradient(
    rgba(250, 250, 250, 1),
    rgba(250, 250, 250, 0)
  );
}

.delete-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 202px;
  height: 300px;
  border: 2px dashed darkred;
  border-radius: 8px;
  background-color: #fff;
}
