/* Apply a CSS reset to ensure consistent rendering across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

/* Header styles */

nav {
  padding-top: 15px;
  margin-right: 20px;
  margin-left: auto;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.background-display {
  background-image: linear-gradient(rgb(11, 17, 125), rgb(4, 14, 57), black);
  height: 1000px;
}

.authentication {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), black);
  height: 500px;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.authentication form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-size: 20px;
}

.authentication form label,
.authentication form input,
.authentication form button {
  width: 250px;
}

.authentication form input {
  height: 40px;
}

.password {
  justify-content: center;
}

main {
}

/* footer styles */
footer {
  background-color: rgb(42, 39, 39);
  height: 70px;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.footer_bar {
  color: aliceblue;
  background-image: linear-gradient(
    rgb(25, 26, 71),
    rgb(9, 9, 17),
    rgb(79, 2, 73)
  );
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

h2 {
  position: absolute;
  top: 20%;
  left: 75px;
  transform: translate(0, -50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ffffff;
  justify-content: center;
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgb(79, 2, 73),
    rgb(9, 9, 17),
    rgb(25, 26, 71)
  );
  height: 10vh;
  text-align: left;
  color: rgb(226, 228, 255);
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.header-box {
  display: flex;
  width: 80vw;
  margin-top: -20px;
  padding-right: 20px;
}

/* Search bar styles */
nav {
  display: flex;
  margin: 10px;
  height: 100px;
}

/* Main part styles */
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
  padding: 20px;
}

h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(224, 219, 219);
}

.card {
  background-color: #333;
  justify-content: "center";
}

.card img:hover {
  opacity: 0.4;
}

.placeholder-card {
  display: inline-block;
  width: 202px;
  height: 300px;
  border: 2px dashed #999;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
}

.placeholder-card::before {
  content: "+";
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeholder-card:hover {
  opacity: 0.75;
  background-color: rgb(189, 189, 189);
}

.overRide {
  padding-left: 30px;
  margin-left: 0;
  margin-right: 0;
  --bs-gutter-x: 0.2rem;
}

#infoContainer {
  display: block;
  justify-content: center;
  width: 40vw;
  padding: 10px;
}

/* Dynamic card classes */

.card-back {
  background-color: #ffffff;
  height: 500;
  width: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.uploadCard {
  background-color: rgba(9, 9, 17, 1);
  padding: 0;
  overflow: hidden;
}

.uploadCard img {
  position: absolute;
  bottom: 0;
  height: 100%;
  z-index: 0;
  margin-left: 50%;
  transform: translateX(-50%);
}

.uploadCard:hover img {
  opacity: 0.25;
}

.uploadCard-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  width: inherit;
  height: 100px;
  background-image: linear-gradient(rgba(9, 9, 17, 1), rgba(9, 9, 17, 0));
  position: absolute;
  border-radius: 5px;
  color: #ffffff;
}

.uploadCard i {
  visibility: hidden;
  position: relative;
  top: 90%;
}

.uploadCard:hover i {
  visibility: visible;
  z-index: 1;
}

.delete-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 202px;
  height: 300px;
  border: 2px dashed darkred;
  border-radius: 8px;
  background-color: #fff;
}

.delete-card:hover {
  opacity: 0.75;
  background-color: rgb(189, 189, 189);
}

/* Responsive styles */

@media screen and (max-width: 1080px) {
  .card-back {
    width: 300px;
    height: 375px;
  }

  #infoContainer {
    width: 30vw;
  }

  .header-box {
    width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: row;
    justify-content: space-around;
  }

  .header-box {
    margin-top: 0;
  }

  .header-title {
    padding-left: 20px;
  }
}

@media screen and (max-width: 495px) {
  header {
    flex-direction: column;
    justify-content: center;
    height: 15vh;
  }

  .header-title {
    padding-left: 0px;
  }

  .header-box {
    padding-right: 0px;
    width: auto;
  }
}
