* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #ffffff;
    justify-content: center;
}

/* Header styles */
header {
    background-image: linear-gradient(rgb(79, 2, 73), rgb(9, 9, 17), rgb(25, 26, 71));
    height: 100px;
    text-align: left;
    color: rgb(226, 228, 255);
    align-items: center;
    justify-content: center;
}

.header-box {
    display: flex;
    border-right: 10px;
    margin-right: 20px;
    padding-right: 20px;
}

/* Search bar styles */
nav {
    display: flex;
    margin: 10px;
    height: 100px;
}

/* Main part styles */
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(224, 219, 219);
    

}
.card :hover {
    transform: scale(1.05)
}

/* footer styles */
.footer_bar {
    color: aliceblue;
    background-image: linear-gradient(rgb(25, 26, 71), rgb(9, 9, 17), rgb(79, 2, 73));
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.placeholder-card {
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border: 2px dashed #999;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
}

.placeholder-card::before {
    content: "+";
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overRide {
    padding-left: 30px;
    margin-left: 0;
    margin-right: 0;
    --bs-gutter-x: .2rem;
}